$primary: rgb(71, 57, 57);

body {
  color: $primary;
}

input[type=submit] {
  padding: 3px 10px;
  font-size: 1.5 rem;
  border-radius: 4px;
  background-color: rgb(225, 228, 50);
  background: 1px solid  rgb(225, 228, 50);
  color: #000;
}
